<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/profile.php?id=100032080384949&mibextid=ZbWKwL"
      >
        <i class="fa-brands fa-square-facebook"></i
      ></a>
      <a href="https://www.instagram.com/tusharb1234?igsh=NDhkYnQ0MjByMmZz">
        <i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/tushar-bhardwaj-98aa74283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
      >
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
